h1 {
    text-align: center;
    font-size: 36px;
    color: var(--light);
    margin-top: 20px;
}

h2 {
    border-bottom: solid 1px var(--day-green);
}

#main {
    text-align: left;
}

.box {
    border: solid 3px var(--day-green);
    padding: 0 15px;
    margin: 10px 5px;
}