body {
    background-color: rgb(0, 160, 72);
}

#root {
    background-color: white;
    margin: 10%;
    margin-bottom: 20%;
    padding: 20px;
    border: solid 5px rgb(0, 255, 145);
    border-radius: 10px;
}

#form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}